body{
margin: 0;
padding:0;
background-image: url(img/fundo_login.jpg);
background-size: cover;
font-family: "Comfortaa", sans-serif;
}
header{
	padding: 0 0px;
	width: 100%;
	height: 80px;
	box-sizing: border-box;
	background:rgba(0,0,0,0.8);
	box-shadow: 0 5px 15px rgba(0,0,0,.2);
	transition:.5s;
}
.frase{
	font-family:impact;
	color:white;
	font-size:40px;
	top:20px;
	position: relative;
	margin:0;
	padding:0;
	display:flex;
	float:right;
	padding-right:90px;
	transition:.5s;
}
ul{
	position: relative;
	margin:0;
	padding:0;
	display:flex;
	float:left;
	padding-left:12%;
	
	transition:.5s;
}
ul li{
	list-style: none;
}
ul li a{
	position: relative;
	display: block;
	padding:10px 20px;
	margin:20px 0;
	text-transform: uppercase;
	text-decoration: none;
	color:white;
	font-weight: bold;
	transition:.5s;
	font-family: impact;
	font-size: 20px;
	border: none;
    outline: none;
    height: 20px;
    color: #000;
    background: #fff;
    border-radius: 20px;
    transition: 0.2s;
}

ul li a:hover{
	background:#ff4d4d;
	color: #000;
}

.login{
	width: 320px;
	height: 410px;
	border:2px solid #000;
	border-radius: 80px 0px 80px 0px;
	color:#fff;
	background-color: rgba(0,0,5,0.8);
	top: 56%;
	left:68%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 68px 28px;
}

.usuario{
	border-radius:50%;
	position: absolute;
	top: -50px;
	left:112px;
}

h1{
	margin:0;
	padding-top:0;
	padding-left:0;
	padding-bottom:20px;
	letter-spacing:10px;
	text-transform:uppercase;
	text-align: center;
	font-size: 25px;
}

.login p{
	margin:0;
	padding:0;
	font-weight:bold;
}

.login input{
	width:100%;
	margin-bottom:21px;
}

.login input[type="text"], input[type="password"]{
	border: none;
	border-bottom:1px solid white;
	background: transparent;
	outline: none;
	height:40px;
	color: white;
	font-size: 16px;
}

.login input[type="submit"]{
	border: none;
	outline: none;
	height:35px;
	color:#000;
	background:#fff;
	border-radius:20px;
	transition:0.2s;
}

.login input[type="submit"]:hover{
	cursor: pointer;
	background:#ff4d4d;
	transition:0.2s;
}

.login a{
	font-weight:bold;
	text-decoration:none;
	font-size:12px;
	line-height:20px;
	color:white;
	transition:0.2s;
}
.login a:hover{
	transition: 0.2s;
	color:#ff4d4d;
}
@media(max-width: 992px){
body{
margin: 0;
padding:0;
background-image: url(img/fundo_login2.jpg);
background-size: cover;
font-family: "Comfortaa", sans-serif;
}

.login{
	width: 320px;
	height: 420px;
	border:2px solid #000;
	border-radius: 80px 0px 80px 0px;
	color:#fff;
	background-color: rgba(0,0,5,0.8);
	top: 60%;
	left:50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 68px 28px;
}

ul{
	position: relative;
	margin:0;
	padding:0;
	display:flex;
	float:left;
	padding-left:10%;
	transition:.5s;
}

ul li a{
	position: relative;
	display: block;
	padding:10px 20px;
	margin:20px 0;
	text-transform: uppercase;
	text-decoration: none;
	color:white;
	font-weight: bold;
	transition:.5s;
	font-family: impact;
	font-size: 15px;
	border: none;
    outline: none;
    height: 15px;
    color: #000;
    background: #fff;
    border-radius: 20px;
    transition: 0.2s;
}

.frase{
	font-family:impact;
	color:white;
	font-size:20px;
	top:30px;
	position: relative;
	margin:0;
	padding:0;
	display:flex;
	float:right;
	padding-right:10%;
	transition:.5s;
}



