body{
margin: 0;
padding:0;
background-image: url(img/quemsomos.jpg);
background-size: cover;
font-family: "Comfortaa", sans-serif;
}


.texto{
	width: 530px;
	height: 415px;
	border:2px solid #000;
	border-radius: 80px 0px 80px 0px;
	color:#fff;
	background-color: rgba(0,0,5,0.8);
	top: 56%;
	left:48%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 68px 28px;
}

h1{
	margin:0;
	padding-top:0;
	padding-left:0;
	padding-bottom:20px;
	letter-spacing:10px;
	text-transform:uppercase;
	text-align: center;
	font-size: 25px;
}

.texto p{
	margin:0;
	padding:0;
	font-weight:bold;
	text-align: center;
	
}

.texto input[type="submit"]{
	position:absolute;
	left:30%;
	border: none;
	outline: none;
	height:35px;
	width:200px;
	color:#000;
	background:#fff;
	border-radius:20px;
	transition:0.2s;
}

.texto input[type="submit"]:hover{
	cursor: pointer;
	background:#ff4d4d;
	transition:0.2s;
}


@media(max-width: 992px){


.texto{
	width: 400px;
	height: 470px;
	border:2px solid #000;
	border-radius: 80px 0px 80px 0px;
	color:#fff;
	background-color: rgba(0,0,5,0.8);
	top: 50%;
	left:50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 68px 28px;
}

.texto p{
	margin:0;
	padding:0;
	font-weight:bold;
	font-size:15px;
	text-align: center;
}

.texto input[type="submit"]{
	position:absolute;
	left:24%;
	border: none;
	outline: none;
	height:35px;
	width:200px;
	color:#000;
	background:#fff;
	border-radius:20px;
	transition:0.2s;
}