body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
    background: url(img/fundo_servicos.jpg);
}
section{
	position: relative;
	width: 100%;
	height: 100vh;
	background-position: center center;
}
header{
	padding: 0 100px;
	width: 100%;
	height: 80px;
	box-sizing: border-box;
	background:rgba(0,0,0,0.8);
	box-shadow: 0 5px 15px rgba(0,0,0,.2);
	transition:.5s;
}
ul{
	position: relative;
	margin:0;
	padding:0;
	display:flex;
	float:right;
	transition:.5s;
}
ul li{
	list-style: none;
}
ul li a{
	position: relative;
	display: block;
	padding:10px 20px;
	margin:20px 0;
	text-transform: uppercase;
	text-decoration: none;
	color:white;
	font-weight: bold;
	transition:.5s;
	font-family: impact;
	font-size: 25px;
}

ul li a:hover{
	background:#000;
	color: #fff;
}

.toggle{
	display:none;
	position: absolute;
	right: 15px;
	top: 22px;
	color: #fff;
	padding: 5px;
	cursor: pointer;
	font-weight: bold;
}
.texto{
	text-align: center;
	color: white;
    font-size: 40px;
	font-family: impact;
}

.aviso1{
	text-align: center;
	padding-left: 30%;
	color: white;
    font-size: 40px;
	font-family: impact;
}

.aviso2{
	text-align: center;
	padding-left: 23%;
	color: white;
    font-size: 40px;
	font-family: impact;
}

.aviso3{
	text-align: center;
	padding-left: 32%;
	color: white;
    font-size: 40px;
	font-family: impact;
}

.sair p{
	margin:0;
	padding:0;
	font-weight:bold;

}

.sair input{
	font-size:30px;
	width:20%;
	height:20px;

	margin-bottom:21px;
}
.sair input[type="submit"]{
	position:absolute;
	top:80%;
	left:40%;
	border: none;
	outline: none;
	height:50px;
	color:#000;
	background:#fff;
	border-radius:20px;
	transition:0.2s;
}

.sair input[type="submit"]:hover{
	cursor: pointer;
	background:#ff4d4d;
	transition:0.2s;
}

.botao {
    border: none;
    outline: none;
    height: 35px;
    color: #000;
    background: #fff;
    border-radius: 0px 0px 20px 20px;
    transition: 0.2s;
	margin-bottom: 2px;
}
.botao:hover {
    cursor: pointer;
    background: #ff4d4d;
    transition: 0.2s;
}

.botao1 {
    border: none;
    outline: none;
    height: 35px;
    color: #000;
    background: #fff;
    transition: 0.2s;
	margin-bottom: 2px;
}
.botao1:hover {
    cursor: pointer;
    background: #ff4d4d;
    transition: 0.2s;
}

footer{
padding: 0px 100px;
	width: 100%;
	height: 65px;
	
	background:rgba(0,0,0,0.8);
	box-shadow: 0 5px  rgba(0,0,0,.2);
	transition:.5s;
      position:absolute;
	  bottom:1px;
      left:0;
     position: fixed;
	 
}     
	

 .textorod{
 font-family:Sans-Serif;font-size:15px;color:white}



@media(max-width: 992px){
	.toggle{
	display:block;}
header{
	padding: 0 0px;
	background:rgba(0,0,0,.8);
}
header ul{
	z-index:1;
	width: 100%;
	top: -4px;
	display:none;
}
header ul.active{
	z-index:1;
	display:block;
}
header ul li a{
	z-index:1;
margin:0;
display: block;
text-align: center;
color: #ffff;
background:rgba(0,0,0,.8);
}
.texto{
	text-align: center;
	color: white;
    font-size: 25px;
	font-family: impact;
}
.aviso1{
	
	padding-left: 20%;
	color: white;
    font-size: 25px;
	font-family: impact;
}

.aviso2{
	padding-left: 8%;
	color: white;
    font-size: 25px;
	font-family: impact;
}

.aviso3{
	padding-left: 24%;
	color: white;
    font-size: 25px;
	font-family: impact;
}	

.textorod{
 font-family:Sans-Serif;font-size:11px;color:white}
}


