body {
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: "Comfortaa", sans-serif;
}

#mainnav ul {
    list-style: none;
}

#mainnav ul li {
    padding: 1px 5px;
    background: #000000;
    border-radius: 15px;
    left: -400px;
}

.wrapper-menu {
    position: relative;
}

.dropdown {
    position: absolute;
    left: 0;
    display: none;
}

.wrapper-dropdown:hover>.dropdown {
    display: inline-block;
}

.login {
	z-index:0;
    width: 600px;
    height: 430px;
    border: 2px solid #000;
    border-radius: 80px 80px 80px 80px;
    color: #fff;
    background-color: rgba(0, 0, 5, 0.8);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 28px 28px;
}

.usuario {
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 112px;
}

h1 {
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 20px;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
}

.login p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login input {
    width: 100%;
    margin-bottom: 21px;
}

.login input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

.login input[type="submit"] {
    border: none;
    outline: none;
    height: 35px;
    color: #000;
    background: #fff;
    border-radius: 20px;
    transition: 0.2s;
}

.login input[type="submit"]:hover {
    cursor: pointer;
    background: #ff4d4d;
    transition: 0.2s;
}

.login a {
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #4b4b4b;
    transition: 0.2s;
}

.login a:hover {
    transition: 0.2s;
    color: #ff4d4d;
}
.tipo{
	border: none;
    border-bottom: 1px solid white;
    color: #fff;
    background-color: rgba(0, 0, 5, 0.8);
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
	border-radius: 80px 80px 80px 80px;
	height: 35px;
	width: 540px;
}

@media(max-width: 992px) {
    .login {
        width: 350px;
        height: 440px;
        border: 2px solid #000;
        border-radius: 80px 80px 80px 80px;
        color: #fff;
        background-color: rgba(0, 0, 5, 0.8);
        top: 51%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        padding: 68px 28px;
    }
	.tipo{
	border: none;
    border-bottom: 1px solid white;
    color: #fff;
    background-color: rgba(0, 0, 5, 0.8);
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
	border-radius: 80px 80px 80px 80px;
	height: 35px;
	width: 290px;
}
}