.header-menu{
    background-color: #1aad72;
    color: #fff;
    font-size: 18px;
}
.logo-small {
    color: #1aad72;
    font-size: 50px;
}

@media(max-width: 992px){
	
	
.espaco-topo{
	padding-top: 4%;
}
	
	
}

